Host customer-kali01
    Hostname customer.react.intern
    DynamicForward 9050
    RemoteForward 127.0.0.2:23445 127.0.0.1:445
    RemoteCommand sudo umount /home/mri/scripts; sudo mount -t cifs -o vers=3,ro,port=23445,username=anon,password=anon //127.0.0.1/tools/scripts /home/mri/scripts; /bin/zsh
    RequestTTY yes
                                                                                                                                                                                              
Host customer-kali01-simple
    Hostname customer.react.intern
